{
    box-sizing: border-box;
}
    body {
        margin:0;
    }
    .container {
        padding:10px;
        display: flex;
        flex-direction: column;
        background:rgb(191, 222, 196);
        width:100vw;
        height: 100vh;
    }
    .top{
        background: rgb(60, 60, 130);
        height:20%;
        width: 100%;
        display:flex;
        flex-direction: row;
        gap: 10px
    }

    .bottom{
        background: rgb(128, 149, 250);
        height: 80%;
    }

    .top-item{
        background: rgba(240, 184, 81, 0.278);
        height:100%;
        width:100%
    }

    .right-item{
        background: rgb(120, 128, 203);
        height: 25%;
        width: 100%
    }

    .left{
        background: rgb(213, 221, 255);
        height: 100%;
        width: 50% 
    }

    .right{
        display:flex;
        flex-direction:column;
        background: rgb(24, 47, 89);
        height:100%;
        width:50%;
    }